body {
    font-family: 'Poppins', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #343540;
    color: #c9ccd4;
}
.sidebar {
    width: 220px;
    height: 100%;
    position: fixed;
    top: 0;
    left: 0;
    padding: 20px;
    background-color: #202123;
    user-select: none;
}
.sidebar h1 {
    font-size: 12px;
    color: #c9d1d9;
    margin-top: 0;
}
.sidebar a {
    display: flex;
    align-items: center;
    color: #c9d1d9;
    margin-bottom: 10px;
    text-decoration: none;
}
.sidebar a img {
    width: 20px;
    height: 20px;
    margin-right: 10px;
}
.content {
    margin-left: 370px;
    padding: 20px;
}
.btn {
    display: inline-block;
    padding: 10px 15px;
    background-color: #444653;
    color: #fff;
    border: none;
    border-radius: 5px;
    font-size: 14px;
    cursor: pointer;
    text-decoration: none;
    width: 200px;
    height: 25px;
    margin-left: -5px;
}


.btn:hover {
    background-color: #2a2b32;
}
.chat-container {
    background-color: #000000;
    border-radius: 5px;
    padding: 10px;
    max-height: 900px;
    overflow-y: auto;
    margin-left: -110px;
}

.user {
    font-weight: bold;
}

input[type="text"] {
    padding: 5px;
    border: none;
    border-radius: 5px;
    margin-bottom: 10px;
    font-size: 25px;
    width: 220px;
    margin-top: 20px;
    background-color: #2a2b32;
    color: #c9d1d9;
    margin-left: -210px;
}

button {
    font-family: 'Poppins', sans-serif;
    padding: 10px 15px;
    background-color: #444652;
    color: #c9d1d9;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-left: 5px;
    margin-top: -5px;
    vertical-align: 5px;
}

button:hover {
    background-color: #2a2b32;
}

input[type="text"]:focus {
    outline: none;
}

#Minecraft {
    background-color: #2a2b32;
    padding: 10px;
    border-radius: 5px;
    color: #c9d1d9;
    margin-bottom: 10px;
    margin-left: -110px;
}

#Minecraft p {
    margin: 5px 0;
}

.btn.disabled {
    cursor: not-allowed;
    opacity: 0.6;
}
.profile {
    margin-top: 250px;
}

.profile h3,
.profile p {
    margin: 0;
}

.notification {
    position: fixed;
    top: 20px;
    right: -100%;
    background-color: #202123;
    color: #ffffff;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 14px;
    opacity: 0;
    z-index: 9999;
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out;
    transform: translateX(100%);
}

.notification.show {
    opacity: 1;
    transform: translateX(0);
}




.stats {
    user-select: none;
    width: 300px;
    background-color: #202123;
    margin-top: 20px;
    margin-left: -110px;
    border-radius: 5px;
    overflow-y: auto;
}

.stats h1 {
    font-size: 15px;
    margin-left: 125px;
}

.stats p {
    margin-left: 10px;
}

